@media only screen and (max-device-width: 1366px) {
  .slide {
    background-attachment: scroll;
  }
}

/* GENERAL STYLING */

html {
  height: 100%;
  scroll-behavior: smooth;
}

body { 
  margin:0;
  padding:0;
  height: 100%;
  font-family: Nunito;
  background: #f2f2f2;
}

h1 {
   font-size: 250%
}

p {
  font-size: 140%;
  line-height: 150%;
  color: #333;
}

#container {
  width: 100%;
  height: 100%;
  margin-top: 3%;
}

#background {
  width: 100%;
  height: 100%;
  background-image: url("img/ghent.jpg");
  background-size: cover;
}


#loadingIcon {
  height: 100px;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
}

/* NAVBAR */

.navbar-inverse .navbar-brand {
  color: #e6e6e6;
}

/* PAST-PRESENT-FUTURE */

.slide {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  height: 100%; 
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
  background: 50% 50% / cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  width: 50%;
  height: 20%;
  padding: 5%;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

.title-right {
  margin-left: 50%;
  margin-right: 0;
}

.title-left {
  margin-left: 0;
  margin-right: 50%;  
}

.header {
  text-align: center;
  font-size: 175%;
  color: #fff;
  text-shadow: 0 2px 2px #000;
}

.header1 {
  background-image: url("img/past.jpg");
}

.header2 {
  background-image: url("img/student.jpg");
}

.header3 {
  background-image: url("img/binoculars.jpg");
}

.header4 {
  background-image: url("img/achievements.jpg");
}

#slideA1 {
  background-image: url("img/writer.jpg");
}

#slideA2 {
  background-image: url("img/translator-2.jpg");
}

#slideA3 {
  background-image: url("img/teacher-3.jpg");
}

#slideA4 {
  background-image: url("img/coordinator.jpg");
}


#slideB1 {
  background-image: url("img/easy.jpg");
  z-index:2;
}

#slideB2 {
  background-image: url("img/responsive.jpg");
}

#slideB3 {
  background-image: url("img/javascript.jpg");
}

#slideB4 {
  background-image: url("img/may.jpg");
}

#slideC1 {
  background-image: url("img/stairs.jpg");
}

#slideC2 {
  background-image: url("img/work.jpg");
}

#slideC3 {
  background-image: url("img/victory.jpg");
  z-index:2;
}

/* PORTFOLIO */

.wrapper {
  width: 100%;
  background-color: #f2f2f2;
}

.card-title {
  height: 30px;
}

.card-month {
  height: 50px;
}

.card-text {
  height: 100px;
}

.card-button {
  height: 40px;
}

.wrapper .card {
  background-color: #fff;
}

.wrapper .card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 0 center;
}

.card-title h4 {
  font-size: 1.8em;
  padding: 10px 0 0px 0;
}

.card-month p {
  font-size: 1.1em;
  padding: 15px 0 5px 0;
  text-align: center;
}

.card-text p {
  font-size: 1.1em;
  padding: 5px 0 10px 0;
  color: #555;
}

.card-button {
  padding: 5px 0 10px 0;
}

.row {
  padding: 10px;
}

.card {
  border: 0.5px solid grey;
}

.card-prez {
  border: 1px solid red;
}

.subwrapper {
  width: 90%;
  margin: auto;
  background-color: #f2f2f2;
}

.card-body {
  padding: 10px;
}

